.header{
    height:var(--header-height);
    background-image: linear-gradient(0, #ad2a00,#af1808);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    /* bỏ dấu . đầu dòng */
    padding-left: 0;
    /* vì mặc định ul padding-left = 40 */
    margin: 4px 0 0 0;
}
.header__navbar-item{
    margin: 0 8px;
    min-height: 26px;
    position: relative;
}
.header__navbar-item:hover .qrcode{
    display: block;
}
.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    /* các thẻ li lên cùng hàng */
    font-size:1.4rem;
    color: var(--white-color);
    text-decoration: none;
    /* bỏ dấu gạch chân của thẻ a */
    font-weight: 300;
}

.header__navbar-item:hover,
 .header__navbar-item-link:hover,
 .header__navbar--icon:hover{
     color:rgba(255,255,255, 0.7);
     cursor: pointer;
 }
 .header__navbar-item,
 .header__navbar-item-link,
 .header__navbar--icon{
     display: inline-flex;
     align-items: center;
 }
 .header__navbar-item--notify:hover .header__notify{
     display:block;
 }
.header__navbar-item--strong{
    font-weight: 400;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    border-left: 1px solid #FB9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar--icon{
    text-decoration: none;
    color: #fff;
}
.header__navbar-icon{
    font-size:1.8rem;
    margin: 0 6px;
}
.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}
/* QR CODE */
.qrcode{
    background-color: var(--white-color);
    width: 155px;
    position: absolute;
    left: 0;
    top:111%;
    padding: 8px;
    border-radius: 2px;
    display:none;
    animation: fadeIn ease-in 0.3s;
}
/* before bắt cầu để hover */
.qrcode::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height:16px;
    left: 0;
    top:-15px;
}
.qrcode-img{
    width: 100%;
}
.qrcode_apps{
    display:flex;
    justify-content: space-between;
}
.header-qr-link:nth-child(1){
    margin-left: 5px;
}
.header-qr-link:nth-child(2){
    margin-right: 7px;
}
.qrcode_apps_ip{
    height:14px;
}
/* Header notify */
.header__notify{
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    animation: headerNotify ease 0.25s;
    display: none;
    transform-origin: top right;
    /* tâm của transform */
}
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    width: 90px;
    top:-14px;
    right: 0;
}
@keyframes headerNotify{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
    cursor: default;
    /* di chuột vào  */
}
.header__notify-header h3{
    color:#999;
    margin: 0 0 0 12px;
    font-size: 1.4rem;
    font-weight:400;
    line-height: 40px;

}
.header__notify-list{
    padding-left: 0;
    background-color: #FB9086;
}
.header__notify-list:hover{
    background-color: rgb(190, 183, 183);
}
.header__notify-item{
    padding:0 0 5px 12px;
}
.header__notify-link{
    display: flex;
    text-decoration: none;
}

.header__notify-img{
    width: 45px;
    height: 40px;
    padding-top:11px;
}
.header__notify-body{
    margin-left: 12px;
    line-height:28px;
}
.header__notify-name{
    padding-top: 4px;
    display: block;
    line-height:2.2rem;
    font-size:1.6rem;
    font-weight: 300;
    color: var(--black-color );
}
.header__notify-desc{
    display: block;
    padding-top: 1px;
    font-size: 1.2rem;
    line-height:2.0rem;
    color: var(--text-color );
}
/* Footer Notify */
.footer-notify{
    display: flex;
}
.footer-notify-link{
    text-decoration: none;
    color: var(--text-color);
    padding: 12px 0;
    width: 100%;
    font-weight: 400;
    text-align: center;
}
/* Auth */
.auth-form{
    background-color: var(--white-color);
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__container{
    margin: 0 16px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color:var(--text-color);
}
.auth-form__swtich-btn{
    font-size:1.6rem;
    color: var(--primary-color);
    cursor: pointer;
}
/* .auth-form__form{
    margin-top: 16px;
} */
.auth-form__input{
    width: 94%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #888;
}
.auth-form__aside{
    margin-top: 16px;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__link{
    color:var(--primary-color);
    text-decoration: none;
}
.auth-form__controls{
   margin-top: 100px;
   display: flex;
   justify-content: flex-end;
}
.auth-form__controls-back{
    margin-right:8px;
}
.auth-form__socials{
    background-color: #F5F5F5;
    padding: 12px 36px;
    display: flex;
    justify-content:space-between;
    margin-top: 26px;
}

.auth-form__socials-icon-facebook{
    background-color:#0f90f3 ;
    color: var(--white-color);
}
.auth-form__socials-icon-google{
    background-color: var(--white-color);
    color: #666;
}
.auth-form__text{
    padding: 0px 36px;
}
.auth-form__socials-icon{
    font-size:18px;
}
.auth-form__help{
    display: flex;
    justify-content:flex-end;
    padding-top: 24px;
}
.auth-form__help-link{
    font-size: 1.6rem;
    text-decoration: none;
}
.auth-form__help-pw{
    padding-right: 6px;
    color: var(--primary-color);
}
.auth-form__help-help{
    color:#666;
}
/* search header */
.search{
    height:var( --header-search);
    display: flex;
    align-items: center;
}
.search__logo{
    width: 200px;
    text-align: center;
}
.search__logo-img{
    width:100px;
    height:50px;
}
.search__search {
    background-color: var(--white-color);
    height:40px;
    flex:1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.search__search-input-wrap{
    position: relative;
    flex: 1;
    height: 100%;
}

.search__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 12px;
    border-radius: 2px;
}

.search__search-input:focus ~ .search-history{
    display: block;
}

.search__select{
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
}
.search__select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}
.search__select-icon{
    font-size: 1.4rem;
    color: #4A4A4A;
    padding: 0 16px 0 10px;
    position: relative;
    top:1px;
}

.search__btn{
    background-color: var(--primary-color);
    border: none;
    height: 36px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}
.search__btn:hover{
    background-color:#fb5d32;
    cursor: pointer;
}
.search__btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}

.search__cart{
    width: 140px;
    text-align: center;
    position: relative;
}

.search__cart-icon{
    color: var(--white-color);
    font-size: 2.6rem;
}

.cart-list{
    position: absolute;
    top: calc(100% + 9px);
    right: 42px;
    background-color: var(--white-color);
    width: 400px;
    border-radius:2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.25);
}

.cart-list--no-cart{
    padding: 28px 0;
}

.cart-list--no-cart-img{
    width: 50%;
}

.cart-list--no-cart-msg{
    display:block;
    font-size:1.4rem;
    margin-top: 16px;
}

.search__option{
    position: absolute;
    padding: 8px 0 0 0;
    margin: 10px 0 0 0;
    right: 0;
    top: 100%;
    width: 130px;
    list-style: none;
    box-shadow: 0 2px 1px #666;
    border-radius: 2px;
    overflow: hidden;
    display: none       ;

}
.search__option-item{
    background-color: var(--white-color);
    padding: 8px 8px;
    text-align: right;
    border-radius: 2px;
}
.search__option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
}
.search__option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin:0 4px 0 12px;
}

 /* Search History */

 .search-history{
     position:absolute;
     top: calc(100% + 2px);
     left:0;
     border-radius: 2px;
     width: calc(100% - 16px);
     background-color: var(--white-color);
     box-shadow:0 1px 5px #dad6d6;
     display: none;
     overflow: hidden;
 }

 .search-history-heading{
    margin: 8px 0 0 12px;
    font-weight: 400;
    color: #aaa;
    font-size:1.3rem
    
 }

 .search-history-list{
    list-style: none;
    padding-left:0;
    margin-bottom: 0;
 }

 .search-history-item{
    height: 38px;
    padding: 0 12px;
    line-height: 38px;
 }

 .search-history-item:hover{
    background-color: #ddd;
 }

 .search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display:block;
 }
